<div class="card">
  <h4 class="card-header">About</h4>
  <div class="card-block">
    <ul>
      <li>
        <b>Author:</b>
        <a href="https://github.com/natmarutapan" target="_blank">Natthapol Marutapan</a>
      </li>
      <li>
        <b>GitHub:</b>
        <a href="https://github.com/natmarutapan/nodejs-at-ubu.git" target="_blank">Poject repository</a>
      </li>
      <li>
        <b>This project : </b>
      </li>
      <ul>
        <li>
          <a href="https://github.com/natmarutapan/nodejs-at-ubu/tree/master/Angular-Full-Stack" target="_blank"> Angular-Full-Stack </a>
        </li>
        <li>
          <a href="https://github.com/natmarutapan/nodejs-at-ubu/tree/master/nodejs/nodejs-1/myfirst" target="_blank"> My First</a>
        </li>
      </ul>
    </ul>
  </div>
</div>
